h1 {
  margin-bottom: 20px;
}

input {
  margin: 5px;
}

button {
  margin-top: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #09529b !important;
}

--swiper-navigation-sides-offset: 40px;
